# Task 4: Employee Ranking

In [1]:
# import libraries for the analysis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load employee monthly score data 
monthly_scores = pd.read_csv("employee_monthly_scores.csv")
monthly_scores.head()

                          from year_month  monthly_sentiment_score
0  bobette.riner@ipgdirect.com    2010-01                        1
1  bobette.riner@ipgdirect.com    2010-02                        7
2  bobette.riner@ipgdirect.com    2010-03                        2
3  bobette.riner@ipgdirect.com    2010-04                        3
4  bobette.riner@ipgdirect.com    2010-05                        2

In [3]:
# Sort the variables: year_month, monthly_sentiment_score, from alphabetically for tie-breakers
monthly_scores_sorted = monthly_scores.sort_values(["year_month", "monthly_sentiment_score", "from"], ascending=[True, False, True])
# Sort Top Positive and Negative Employees by year_month, monthly_sentiment_score
top_positive = monthly_scores.nlargest(3, "monthly_sentiment_score").sort_values(["monthly_sentiment_score", "from"], ascending=[False, True])
print("Top Three Positive Employees: \n ", top_positive)

# Top 3 negative employees (Lowest sentiment scores)
top_negative = monthly_scores.nsmallest(3, "monthly_sentiment_score").sort_values(["monthly_sentiment_score", "from"], ascending=[True, True])
print("\n Top Three Negative Employees: \n ",top_negative)

def rank_employees(df, top_n=3):
    positive_rankings = []
    negative_rankings = []

    for month, group in df.groupby('year_month'):
        # Sort for positive: descending score, then alphabetical
        top_positive = group.sort_values(
            by=['monthly_sentiment_score', 'from'],
            ascending=[False, True]
        ).head(top_n)

        # Sort for negative: ascending score, then alphabetical
        top_negative = group.sort_values(
            by=['monthly_sentiment_score', 'from'],
            ascending=[True, True]
        ).head(top_n)

        top_positive['rank_type'] = 'Top Positive'
        top_negative['rank_type'] = 'Top Negative'

        positive_rankings.append(top_positive)
        negative_rankings.append(top_negative)

    return pd.concat(positive_rankings + negative_rankings)

Top Three Positive Employees:
                           from year_month  monthly_sentiment_score
112   johnny.palmer@enron.com    2011-06                       14
222      sally.beck@enron.com    2010-08                       14
185  patti.thompson@enron.com    2011-07                       13

 Top Three Negative Employees:
                           from year_month  monthly_sentiment_score
229      sally.beck@enron.com    2011-03                       -3
131   kayne.coulter@enron.com    2011-01                       -1
183  patti.thompson@enron.com    2011-05                       -1

In [4]:
ranked_df = rank_employees(monthly_scores)
ranked_df.head(10)

,from,year_month,monthly_sentiment_score,rank_type
119,kayne.coulter@enron.com,2010-01,10,Top Positive
48,eric.bass@enron.com,2010-01,6,Top Positive
167,patti.thompson@enron.com,2010-01,6,Top Positive
1,bobette.riner@ipgdirect.com,2010-02,7,Top Positive
97,johnny.palmer@enron.com,2010-02,7,Top Positive
25,don.baughman@enron.com,2010-02,6,Top Positive
217,sally.beck@enron.com,2010-03,7,Top Positive
145,lydia.delgado@enron.com,2010-03,6,Top Positive
98,johnny.palmer@enron.com,2010-03,4,Top Positive
122,kayne.coulter@enron.com,2010-04,6,Top Positive

In [5]:
# save to file
ranked_df.to_csv("employee_rankings.csv", index=False)
print(" Monthly employee_rankings saved to 'employee_monthly_scores.csv'")

 Monthly employee_rankings saved to 'employee_monthly_scores.csv'

### Rankings were derived from the monthly sentiment scores of employees in Task 3. Employees were ranked by sentiment scores in descending order for positive sentiment and ascending order for negative sentiment. Then, employees with equal scores were sorted alphabetically. This ranking helps identify employees with strong positive engagement and those who may need additional support.
### Output contains: year_month, from, monthly_sentiment_score, and rank_type.
    

#